.carousel-inner .item img {
      width: 70%;
      margin: auto;
  }

.carousel-inner .item {
    opacity: 0;
    -ms-transition-property: opacity;
	-o-transition-property: opacity;
	-webkit-transition-property: opacity;
	-moz-transition-property: opacity;
	transition-property: opacity;
}

.carousel-fade .carousel-inner .active {
  opacity: 1;
}
