/*--------------------*/
/* HEADER */
/*--------------------*/

#mu-hero {
	background-image: url("assets/images/party.png");
	display: inline;
	float: left;
	width: 100%;
	background-position: center center;
	background-attachment: fixed;
	-webkit-background-size: cover;
	background-size: cover;
}

.mu-hero-overlay {
	display: inline;
	float: left;
	opacity: 0.94;
	width: 100%;
}

.mu-logo-area {
	display: inline;
	float: left;
	text-align: center;
	width: 100%;
	margin-top: 70px;
}

.mu-logo {
	font-size: 45px;
	font-family: 'Montserrat', sans-serif;
	display: inline-block;
	font-weight: 600;
	background: #fff;
	line-height: 33px;
	padding: 15px 20px;
	margin-bottom: 30px;
	margin-top: 10px;
}


.mu-logo span{
	font-size: 30px;
	font-family: 'Montserrat', sans-serif;
	color: grey;
	display: block;
	font-weight: 0;
	background: #fff;
}



.mu-menu-btn {
	position: fixed;
	right: 15%;
	top: 50px;
	color: #fff;
	font-size: 25px;
	border: 2px solid #fff;
	padding: 5px 14px;
	z-index: 999;
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}

.mu-menu-btn:hover,
.mu-menu-btn:focus {
	border: 2px solid #fff;
}





/*=== Featured section ===*/

.mu-hero-featured-area {
	display: inline;
	float: left;
	padding: 60px 0 150px;
	width: 100%;
}

.mu-hero-featured-content {
	display: inline;
	float: right;
	margin-top: 30px;
	text-align: center;
	width: 100%;
}

.mu-hero-featured-content h1 {
	font-size: 35px;
	color: #fff;
	font-weight: 300;
	margin-bottom: 15px;
}


.mu-hero-featured-content h2 {
	color: #fff;
	font-size: 25px;
	font-weight: 300;
}

.mu-event-date-line {
	background-color: #fff;
	color: #333;
	padding: 5px 10px;
	display: inline-block;
	margin-top: 10px;
	font-weight: 600;
}

.mu-event-counter-area {
	display: inline-block;
	float: left;
	margin-top: 50px;
	width: 100%;
}

#mu-event-counter{
	display: inline;
	float: left;
	width: 100%;
	text-align: center;
}

.mu-event-counter-block {
	border: 2px solid #fff;
	border-radius: 50%;
	display: inline-block;
	height: 80px;
	width: 80px;
	text-align: center;
	font-size: 15px;
	color: #fff;
	margin: 30px 40px;
	font-weight: 300;
}

.mu-event-counter-block span {
	display: block;
	font-size: 25px;
	font-weight: 700;
	padding-top: 20px;
	line-height: 20px;
}

/*--------------------*/
/* MENU */
/*--------------------*/

#mu-hero .navbar-default {
	background-color: #fff;
	border-color: #e7e7e7;
	padding: 5px 0;
}

.mu-navbar {
	top: -150px;
	transition: all 0.5s;
}

.mu-nav-show {
	top: 0px;
}

#mu-hero .navbar-default .navbar-brand {
	padding: 15px 15px;
	font-size: 28px;
	line-height: 20px;
}

.mu-navbar .mu-menu li a {
	color: #333;
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}

.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:focus, 
.navbar-default .navbar-nav > .active > a:hover {
	color: #fff;
}





 .mu-event-counter-area {
        -vendor-animation-duration: 3s;
        -vendor-animation-delay: 2s;
        -vendor-animation-iteration-count: infinite;
        }
